name: Ruff Linter

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      folder:
        description: "Folder to lint"
        required: false
        default: "git/src"

    

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff
        run: ruff check git/src

      - name: Ruff format
        run: ruff format --check git/src